<pre>
Components uoj
	Introduction to Angular Components
	Data Binding
	Interpolation in Angular
	Property Binding
	
	Event Binding
	Two-way Binding and ngModel
	ngModelChange and Change Event
	Adding Child Component
	Standalone Components

Directives
	Angular Directives
	ngFor 
	ngSwitch
	ngIf
	ngClass
	ngStyle
	ngFor Trackby
	Custom Directive
	
Pipes
	Angular Pipes
	Angular Custom Pipes
	Date Pipe
	Async Pipe
	KeyValue Pipe
	Using Pipes in Components and Services
	
Component Communication
	Angular Component Communication
	Passing data from Parent to child component 
	Passing Data from Child to Parent Component
	
Component Life Cycle Hook
	Component Life Cycle
	OnInit and OnDestroy
	Onchanges
	DoCheck
	
Angular Forms
	Angular Forms Tutorial: Fundamental and Concepts
	Template-Driven Forms in Angular
	Set Value in Template Driven forms in Angular
	Reactive Forms in Angular
	FormBuilder in Reactive Forms
	SetValue and PatchValue in Angular
	StatusChanges in Angular Forms
	ValueChanges in Angular Forms
	FormControl
	FormGroup
	FormArray Example
	Build Dynamic or Nested Forms using FormArray
	SetValue and PatchValue in FormArray
	Select Options Dropdown
	Typed Forms in Angular
	FormRecord in Angular
	
Services and Dependency Injection
	Services
	Dependency injection
	Injector, &#64;Injectable and &#64;Inject
	Providers
	Injection Token
	Hierarchical Dependency Injection
	Angular Singleton Service
	ProvidedIn root, any and platform
	&#64;Self, &#64;SkipSelf and &#64;Optional Decorators
	&#64;Host Decorator in Angular
	ViewProviders
	
Angular Forms Validation
	Validations in Reactive Forms in Angular
	Custom Validator in Reactive Forms
	Passing Parameter to Custom Validator in Reactive Forms
	Inject Service into Custom Validator
	Validation in Template-Driven Forms
	Custom Validator in Template-Driven Forms
	Angular Async Validator
	Cross Field Validation
	Adding Validators Using SetValidators
	
HTTP 
	Angular HTTP Client Tutorial
	HTTP GET Example
	HTTP POST Example
	Passing URL Parameters (Query strings)
	HTTP Headers Example
	HTTP Interceptor
	
Angular Router
	Angular Router
	Angular Router with standalone components
	Location Strategies in Angular Router
	Passing Parameters to Route
	Child Routes / Nested Routes
	Query Parameters
	Navigation between Routes
	Angular Pass data to route
	RouterLinkActive
	Router Events
	ActivatedRoute
	
Angular Route Guards
	Angular Route Guards
	CanActivate Guard
	CanActivateChild Guard
	CanDeactivate Guard
	Angular Resolve Guard
	
Angular Module
	Introduction to Angular Modules
	Routing Between Angular Modules
	Angular folder structure: Best Practices
	Lazy Loading in Angular
	Preloading Strategy
	CanLoad Guard
	
Advanced Components
	Ng-Content and Content Projection in Angular
	Angular &#64;input, &#64;output and EventEmitter
	Template Reference Variable in Angular
	ng-container in Angular
	ng-template and TemplateRef in angular
	ngtemplateoutlet in angular
	HostBinding and HostListener
	ViewChild, ViewChildren and QueryList
	ElementRef
	Renderer2
	ContentChild and ContentChildren
	AfterViewInit, AfterViewChecked, AfterContentInit and AfterContentChecked
	Angular Decorators
	
Observable in Angular
	Angular Observable Tutorial
	Create an Observable from a string, array, object, collection
	Observable from events using fromEvent
	Observable pipe
	Map Operator
	Filter Operator
	Tap Operator
	SwitchMap
	MergeMap
	ConcatMap
	ExhaustMap
	take, takeUntil, takeWhile, takeLast
	First, last and Single
	Skip, SkipWhile, SkipUntil and SkipLast
	Scan and Reduce
	DebounceTime and Debounce
	Delay and DelayWhen
	ThrowError
	CatchError
	Retry and ReTryWhen
	Unsubscribe from an observable
	Subjects in Angular
	ReplaySubject, BehaviorSubject and AsyncSubject
	Angular Subject Example
	
Styling the Application
	Angular Global Styles
	View Encapsulation
	Style binding in Angular
	Class Binding in Angular
	Component Styles
	How to Install and Use Angular FontAwesome
	How to Add Bootstrap to Angular
	
Others
	Location Service
	
Handling Errors
	Error Handling in Angular
	HTTP Error Handling
</pre>
